<!DOCTYPE html>
<% include ../partials/header %>
<% include ../partials/navigation %>
<head>
    <title>Offers</title>
<script type="application/javascript">
    $(document).ready(function () {
//
        $('input[type="radio"]').click(function () {
            if ($(this).attr("value") == "Product") {
                $("#ServiceCategories").hide();
                $("#ServiceContent").hide();
                $("#ProductCategories").show();
                $("#ProductContent").show();
            }
            if ($(this).attr("value") == "Service") {
                $("#ProductCategories").hide();
                $("#ProductContent").hide();
                $("#ServiceCategories").show();
                $("#ServiceContent").show();
            }
        });
        $("#ServiceCategories").hide();
        $("#ServiceContent").hide();
    });
</script>
</head>
<div class="content">
    <ul class="rd_btn1 format">
        <li>
            <label for="TradeOption">Trade Option:</label>
            <input type="radio" name="TradeOptionProduct" value="Product" checked>Product
            <input type="radio" name="TradeOptionProduct" value="Service">Service
        </li>
    </ul>
    <!--for showing product offers-->
    <div id="ProductContent" name="ProductContent" class="content">
    <form class="contact_form" method="Get" action="" name="contact_form" xmlns="http://www.w3.org/1999/html">
        <h1>My Product Offers</h1>
        <%if(!results.length){%>
        <div class="records">
            <strong>No Records</strong><br>
            <span>You have not offered any product</span>
        </div>
        <%}%>
        <%for (var i in results){%>
      <!--  <div class="member">-->
        <div class="member mem_format">
            <table class="pro-detail">
                <tr>
                    <td>
                        <strong>Name</strong>:
                    </td>
                    <td class="format_name">
                        <%=results[i].ProductName %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Offer Details</strong>:
                    </td>
                    <td>
                        <%=results[i].OfferDetails  %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Offer Date</strong>:
                    </td>
                    <td>
                        <%= results[i].OfferDate.toDateString() %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Category Name</strong>:
                    </td>
                    <td class="format_catname">
                        <%= results[i].CategoryName %>
                    </td>
                </tr>
                <tr>
                    <td >
                        <strong>Condition</strong>:
                    </td>
                    <td class="format_con">
                        <%= results[i].Condition %>
                    </td>
                </tr>
                <tr>
                    <td >
                        <strong>Product Value</strong>:
                    </td>
                    <td class="format_value">
                       <%=results[i].ValueCurrency%>  <%= results[i].ProductValue %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Processing Time</strong>:
                    </td>
                    <td>
                        <%=results[i].ProcessingTime %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Ships To:</strong>:
                    </td>
                    <td>
                        <%=results[i].ShipsTo %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>ShippingCost</strong>:
                    </td>
                    <td class="format_value">
                        <%=results[i].shipCurrencyName%>  <%= results[i].ShippingCost %>
                    </td>
                </tr>
            </table>
            <ul class="enlarge">
                <!--We give the list a class so that we can style it seperately from other unordered lists-->
                <li>
                    <img src="/images/<%= results[i].img0 %>" width="150px" height="100px"/>
                    <span> <!--span contains the popup image-->
                    <img src="/images/<%= results[i].img0 %>" alt="Deckchairs"/>
                    </span>
                </li>
                <li>
                    <img src="/images/<%= results[i].img1 %>" width="150px" height="100px"/>
                         <span> <!--span contains the popup image-->
                    <img src="/images/<%= results[i].img1 %>" alt="Deckchairs"/>
                    </span>
                </li>
                <li>
                    <img src="/images/<%= results[i].img2 %>" width="150px" height="100px"/>
                     <span> <!--span contains the popup image-->
                    <img src="/images/<%= results[i].img2 %>" alt="Deckchairs"/>
                    </span>
                </li>
                <li>
                    <img src="/images/<%= results[i].img3 %>" width="150px" height="100px"/>
                         <span> <!--span contains the popup image-->
                    <img src="/images/<%= results[i].img3 %>" alt="Deckchairs"/>
                    </span>
                </li>
            </ul>
            <%if(results[i].CustomerID==loginuser){%>
            <div class="customer_delete">
                <span><a class="delete" href="/EditOfferProduct/<%=results[i].ProductOfferID%>">Edit Offer</a></span>
                <span><a class="delete" href="/DeleteOffers/<%=results[i].ProductOfferID%>">Delete</a></span>
            </div>
            <%}else{%>
            <div class="customer_delete">
                <span><a class="delete" href="/PingOffers/<%=results[i].ProductOfferID%>">Ping Trader!</a></span>
                <span><a class="delete" href="/PrivateMessages/<%=results[i].ProductOfferID%>">Contact Trader!</a></span>
            </div>
            <%}%>
    </div>
        <%}%>
        </form>
    </div>

    <!--for showing services-->
    <div id="ServiceContent" name="ServiceContent" class="content">
        <form class="contact_form" method="Get" action="" name="contact_form" xmlns="http://www.w3.org/1999/html">
            <h1>My Service Offers</h1>
            <%if(!serviceresults.length){%>
            <div class="records">
            <span>No Records</span><br>
            <span>You have not offered any service</span>
          </div>
            <%}%>
            <%for (var i in serviceresults){%>
            <div class="member mem_format">

                <table class="pro-detail pro_format">

                    <tr>
                        <td>
                            <strong>Service Name</strong>:
                        </td>
                        <td>
                            <%=serviceresults[i].ServiceName %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Service Details</strong>:
                        </td>
                        <td>
                            <%=serviceresults[i].ServiceDescription  %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Published Date</strong>:
                        </td>
                        <td>
                            <%= serviceresults[i].PublishedDate.toDateString() %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Duration</strong>:
                        </td>
                        <td>
                            <%= serviceresults[i].Duration %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Start Date</strong>:
                        </td>
                        <td>
                            <%= serviceresults[i].StartDate.toDateString() %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>End Date</strong>:
                        </td>
                        <td>
                            <%=serviceresults[i].EndDate.toDateString() %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Preferred Service</strong>:
                        </td>
                        <td>
                            <%=serviceresults[i].PreferredService %>
                        </td>
                    </tr>
                </table>

                <%if(serviceresults[i].CustomerID==loginuser){%>
                <tr>
                    <td></td>
                    <td><a class="delete" href="/EditOfferService/<%=serviceresults[i].ServiceOfferID%>">Edit Offer</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td><a class="delete" href="/DeleteService/<%=serviceresults[i].ServiceOfferID%>">Delete</a></td>
                </tr>
                <%}else{%>
                <tr>
                    <td></td>
                    <td><a class="delete" href="/PingService/<%= serviceresults[i].ServiceOfferID %>">Ping!</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td><a class="delete" href="/ServiceMessages/<%= serviceresults[i].ServiceOfferID %>">Contact
                            Trader!</a></td>
                </tr>
                <%}%>
            </div>
            <%}%>
        </form>
    </div>

</div>
<% include ../partials/footer %>