<!DOCTYPE html>
<% include ../partials/header %>
<% include ../partials/navigation %>
<head>
    <title>
        My Transactions
    </title>
</head>
<script type="text/javascript">
    $(document).ready(function () {
        $('input[type="radio"]').click(function () {
            if ($(this).attr("value") == "Product") {
                $("#ServiceOffers").hide();
                $("#GroupOffers").hide();
                $("#PeerOfferss").hide();
                $("#ProductOffers").show();
                document.getElementById("option").value = "Product";
            }
            if ($(this).attr("value") == "Service") {
                $("#ProductOffers").hide();
                $("#GroupOffers").hide();
                $("#PeerOffers").hide();
                $("#ServiceOffers").show();
                document.getElementById("optionS").value = "Service";
            }
            if ($(this).attr("value") == "Group") {
                $("#ProductOffers").hide();
                $("#ServiceOffers").hide();
                $("#PeerOffers").hide();
                $("#GroupOffers").show();
                document.getElementById("optionS").value = "Group";
            }
            if ($(this).attr("value") == "Peer") {
                $("#ProductOffers").hide();
                $("#ServiceOffers").hide();
                $("#GroupOffers").hide();
                $("#PeerOffers").show();
                document.getElementById("optionS").value = "Peer";
            }

        });
        $("#ServiceOffers").hide();
        $("#GroupOffers").hide();
        $("#PeerOffers").hide();
    });

    function clearForm() {
        document.getElementById("contact").reset();
    }
</script>
<script type="text/javascript">
    function altRows(id) {
        if (document.getElementsByTagName) {

            var table = document.getElementById(id);
            var rows = table.getElementsByTagName("tr");

            for (i = 0; i < rows.length; i++) {
                if (i % 2 == 0) {
                    rows[i].className = "evenrowcolor";
                } else {
                    rows[i].className = "oddrowcolor";
                }
            }
        }
    }
    window.onload = function () {
        altRows('alternatecolor');
    }
</script>
<div class="content">

    <ul class="rd_transactions edit_rd">
        <li>
            <h1>My Transactions</h1>
            <input type="radio" Id="TradeOption" name="TradeOption" onchange="clearForm()"
                   value="Product">Product Offers
            <input type="radio" id="TradeOption" name="TradeOption" onchange="clearForm()"
                   value="Service">Service Offers
            <input type="radio" id="TradeOption" name="TradeOption" onchange="clearForm()"
                   value="Group">Group Offers
            <input type="radio" id="TradeOption" name="TradeOption" onchange="clearForm()"
                   value="Peer">Peer Trade Offers
        </li>

    </ul>
    <!--For Products-->

    <div id="ProductOffers" name="ProductOffers" class="content">
        <form id="contact" class="contact_form" method="post" action="/ViewTransaction">

            <ul class="view_offers">
                <li>
                    <label for="FromDate" style="color: deepskyblue">From:</label>
                    <input type="date" name="FromDate" id="FromDate" required="true" title="Please specify start date"/>
                </li>
                <li>
                    <label for="ToDate" style="color: deepskyblue">To:</label>
                    <input type="date" name="ToDate" id="ToDate" required="true" title="Please specify end date "/>
                </li>
                <li class="submit">
                    <input type="submit" id="find" name="find" value="Search"/>
                </li>
            </ul>
            <h3 style="color: #ff0000">My Product Offers</h3>
        <div class="add_mem">
            <table>
                <tr class="act_log">
                    <th>Product Name</th>
                    <th>Category Name</th>
                    <th>Offer Details</th>
                    <th>Offer Date</th>
                    <th>Product Status</th>
                </tr>
            </table>
            <div class="tab_content">
                <table class="altrowstable" id="alternatecolor">
                <% for (var i in ProductOffers){ %>
                <tr>
                    <td> <%= ProductOffers[i].ProductName %></td>
                    <td><%= ProductOffers[i].CategoryName %></td>
                    <td><%= ProductOffers[i].OfferDetails %></td>
                    <td><%= ProductOffers[i].OfferDate.toLocaleDateString() %></td>
                    <td><%= ProductOffers[i].ProductStatus %></td>
                </tr>
                <% } %>
                </table>
            </div>
        </div>
        </form>
    </div>
    <!--For Service-->
    <div id="ServiceOffers" name="ServiceOffers" class="content">
        <form id="contact" class="contact_form" method="post" action="/ViewTransaction">

            <ul class="view_offers">
                <li>
                    <label for="FromDate" style="color: deepskyblue">From:</label>
                    <input type="date" name="FromDate" id="FromDate" required="true" title="Please specify start date"/>
                </li>
                <li>
                    <label for="ToDate" style="color: deepskyblue">To:</label>
                    <input type="date" name="ToDate" id="ToDate" required="true" title="Please specify end date "/>
                </li>
                <li class="submit">
                    <input type="submit" id="find" name="find" value="Search"/>
                </li>
            </ul>
            <h3 style="color: #ff0000">My Service Offers</h3>
        <div class="add_mem">
            <table>
                <tr class="act_log">
                    <th>Product Name</th>
                    <th>Category Name</th>
                    <th>Offer Details</th>
                    <th>Offer Date</th>
                    <th>Product Status</th>
                </tr>
            </table>
            <div class="tab_content">
                <table class="altrowstable" id="alternatecolor">
                <% for (var i in ProductOffers){ %>
                <tr>
                    <td><%= ProductOffers[i].ProductName %></td>
                    <td><%= ProductOffers[i].CategoryName %></td>
                    <td><%= ProductOffers[i].OfferDetails %></td>
                    <td><%= ProductOffers[i].OfferDate.toLocaleDateString() %></td>
                    <td><%= ProductOffers[i].ProductStatus %></td>
                </tr>
                <% } %>
                </table>
            </div>
        </div>
        </form>
    </div>

    <!--For Group Offers-->
    <div id="GroupOffers" name="GroupOffers" class="content">
        <form id="contact" class="contact_form" method="post" action="/ViewTransaction">
            <ul class="view_offers">
            <li>
                <label for="FromDate" style="color: deepskyblue">From:</label>
                <input type="date" name="FromDate" id="FromDate" required="true" title="Please specify start date"/>
            </li>
            <li>
                <label for="ToDate" style="color: deepskyblue">To:</label>
                <input type="date" name="ToDate" id="ToDate" required="true" title="Please specify end date"/>
            </li>
                <li class="submit">
                <input type="submit" id="find" name="find" value="Search"/>
            </li>
            </ul>
            <h3 style="color: #ff0000">My Group Offers</h3>
        <div class="add_mem">
            <table>
                <tr class="act_log">
                    <th>Product Name</th>
                    <th>Category Name</th>
                    <th>Offer Details</th>
                    <th>Offer Date</th>
                    <th>Product Status</th>
                </tr>
            </table>
            <div class="tab_content">
                <table class="altrowstable" id="alternatecolor">
                <% for (var i in ProductOffers){ %>
                <tr>
                    <td> <%= ProductOffers[i].ProductName %></td>
                    <td><%= ProductOffers[i].CategoryName %></td>
                    <td><%= ProductOffers[i].OfferDetails %></td>
                    <td><%= ProductOffers[i].OfferDate.toLocaleDateString() %></td>
                    <td><%= ProductOffers[i].ProductStatus %></td>
                </tr>
                <% } %>
            </table>
            </div>
        </div>
        </form>
    </div>

    <!--For PeerOffers-->
    <div id="PeerOffers" name="PeerOffers" class="content">
        <form id="contact" class="contact_form" method="post" action="/ViewTransaction"/>
        <ul class="view_offers">
        <li>
            <label for="FromDate" style="color: deepskyblue">From:</label>
            <input type="date" name="FromDate" id="FromDate" required="true" title="Please specify start date"/>
        </li>
        <li>
            <label for="ToDate" style="color: deepskyblue">To:</label>
            <input type="date" name="ToDate" id="ToDate" required="true" title="Please specify end date"/>
        </li>
            <li class="submit">
            <input type="submit" id="find" name="find" value="Search"/>
        </li>
        </ul>
        <h3 style="color: #ff0000">My Peer Offers</h3>
        <div class="add_mem">
            <table>
                <tr class="act_log">
                    <th>Product Name</th>
                    <th>Category Name</th>
                    <th>Offer Details</th>
                    <th>Offer Date</th>
                    <th>Product Status</th>
                </tr>
            </table>
            <div class="tab_content">
                <table class="altrowstable" id="alternatecolor">
                <% for (var i in ProductOffers){ %>
                <tr>
                    <td> <%= ProductOffers[i].ProductName %></td>
                    <td><%= ProductOffers[i].CategoryName %></td>
                    <td><%= ProductOffers[i].OfferDetails %></td>
                    <td><%= ProductOffers[i].OfferDate.toLocaleDateString() %></td>
                    <td><%= ProductOffers[i].ProductStatus %></td>
                </tr>
                <% } %>
            </table>
            </div>
        </div>
        </form>
    </div>
</div>
<% include ../partials/footer %>